.navbar {
	max-height: 60px;
}
.navbar-brand img {
	width: 50px;
}
.nav-item:not(:last-of-type) {
	margin-right: 10px;
}
.nav-link {
	color: rgb(255, 255, 255);
	font-size: 1rem;
	letter-spacing: 0.5px;
	transition: 0.5s;
}
.nav-link:hover {
	color: var(--mainSeimoneColor);
	transform: translateY(-5px);
}
.nav-link.active {
	color: var(--mainSeimoneColor) !important;
}
.hero-heading {
	color: var(--altBlueColor);
	text-align: left;
	font-size: 3rem;
	max-width: 470px;
	margin: auto;
	font-weight: var(--MeduimFont);
	line-height: 1.1;
}
.hero-para {
	letter-spacing: 0.5px;
	line-height: 1.4;
	font-weight: var(--ThinFont);
	max-width: 470px;
	margin: 1rem auto;
	text-align: left;
	color: rgb(206, 206, 206);
}
.hero-status {
	font-weight: var(--BoldFont);
	color: rgb(153, 153, 153);
	max-width: 470px;
	margin: 0;
	text-align: left;
}
.sButton {
	color: white;
	font-weight: var(--MeduimFont);
	text-decoration: none;
	padding: 0 15px;
	cursor: pointer;
	transition: 0.5s;
}

.mouse {
	width: 50px;
	height: 90px;
	border: 3px solid var(--mainBlueColor);
	border-radius: 60px;
	position: relative;
	bottom: 100px;
	left: 50%;
}

.mouse::before {
	content: '';
	width: 12px;
	height: 12px;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--altBlueColor);
	border-radius: 50%;
	opacity: 1;
	animation: wheel 2s infinite;
	-webkit-animation: wheel 2s infinite;
}
.dropdown ul {
	left: -50px !important;
	top: 130% !important;
}
.dropdown ul::before {
	content: '';
	position: absolute;
	top: -15px;
	left: 50%;
	transform: translateX(-50%);

	border: 10px solid var(--veryPaleBlueColor);
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
}
@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}
