header {
  min-height: 100vh;
  background-image: url(../../../public/images/hero-avatar.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.hero-section {
  max-width: 550px;
  min-height: calc(100vh - 56px);
  padding: 4rem 0;
}
.hero-heading {
  color: var(--mainWhiteColor);
  font-size: 3.5rem;
  font-weight: var(--MeduimFont);
  line-height: 1.1;
}
.hero-heading span {
  color: var(--altBlueColor);
}
.hero-para {
  max-width: 470px;
  color: var(--veryPaleBlueColor);
  line-height: 1.4;
  letter-spacing: 0.5px;
}
